// - Font size: 18px
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Josefin Sans", sans-serif;

  @media (min-width: $mobile-md) {
    font-size: 11px;
  }

  @media (min-width: $desktop-sm) {
    font-size: 15px;
  }
}

body {
  width: 100%;
  min-height: 100vh;
}

main {
  min-height: 100vh;
  width: 100%;
}

ul {
  list-style: none;
}

input {
  font-family: "Josefin Sans", sans-serif;

  &:focus {
    outline: none;
    caret-color: $bright-blue;
  }
}
