@import "normalize";
@import "variables";
@import "App";
@import "TaskList";
@import "Task";
@import "TaskManage";
@import "FilterPanel";

.page {
  position: relative;
  min-height: 100vh;
  height: 100%;
  width: 100%;

  &.dark {
    @include dark-page;
  }

  &.light {
    @include light-page;
  }
}

.selected {
  color: $bright-blue;
}
