.manage-tasks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $li-height-mobile;
  padding: 0 20px;

  @media (min-width: $desktop-sm) {
    height: $element-height-desktop;
  }

  &__active {
    font-size: 1.1rem;
    font-weight: 700;

    @media (min-width: $desktop-lg) {
      font-size: 1rem;
    }
  }

  &__clear {
    border: none;
    background-color: inherit;
    font-family: inherit;
    color: inherit;
    font-size: 1.1rem;
    font-weight: 700;
    @media (min-width: $desktop-lg) {
      font-size: 1rem;
    }
  }

  &.dark {
    @include dark-elements;
  }

  &.light {
    @include light-elements;
  }
}
