.task-list {
  margin: 5% 6%;
  border-radius: $border-radius;

  &__list {
    background-color: inherit;
    border-radius: inherit;
  }

  &.dark {
    @include dark-list;
  }

  &.light {
    @include light-list;
  }
}
